<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>
        Change Color
    </title>
    <h1 class = "header">Hey!</h1>
    <br>
    <p>This is where you can change the color of Lil Qtip, it's kinda his <b> SUPER POWER </b></b></p>
</head>
<body>
    <a href = "/"><button class = "button"> Home Page</button></a>
    <br><br>
    <p>Here's the inputs for you, choose from a selection of "Skin, Background, Eyes"</p>
    <p>Then pick a color from Red, Green, Blue, Yellow, Orange. (i.e Eyes Blue)</p>
    <form method="POST" id="form">
        <input name="text">
        <input type="submit">
    </form>
</body>
</html>