<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/style.css">
<head>
    <title>Lil Qtip Raspimon</title>
    <h1 class="header" >Hello, welcome</h1>

</head>
<body>
    <img id="lQ" src = "/static/Lil Qtip.png">
    <br>
    <p>
        This is Lil Qtip's control page, here you can, well, control Lil Qtip
    </p>
    <a href = "/disappear">
    <input class="button" type ="submit" name ="disappear" value ="Vanish"></a>
    <br>
    <a href="/jump">
    <input class="button" type = "submit" name="jump" value="Jump"></a>
    <a href = "/colorChange">
    <input class = "button" type="submit" value="Colors"></a>
</body>






</html>
